-names = ['Accepted', 'Rejected', 'Hardware errors']
- @devs ||= {message: '', data:[]}
%h3
  Devices
  %small.muted#devices_overview=@devs[:message]
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Status
      %th Temp
      %th{title: '5 second average'} Mh/s
      %th=names.join('/')
      %th Utility
  %tbody
    -if @devs[:data].length == 0
      %tr
        %td{colspan:6}
          .text-center No device information available
    -else
      -@devs[:data].each do |dev|
        -status = dev[:enabled]? dev[:status].downcase.to_sym: :warning
        -status = status == :alive ? :success: :error
        %tr{class: status}
          %td=dev[:name]
          %td=dev[:status]
          %td
            .text-right
              = dev[:temperature].nil?? 'N/A': dev[:temperature].round(2)
          %td
            .text-right
              =mhash_to_s(dev[:mhs_5s])
          %td
            :ruby
              keys = [:accepted, :rejected, :hardware_errors]
              classes = %w(success warning danger)
              vals = keys.map{|k| dev[k]}
              total = vals.reduce(:+)
              perc = keys.map{|k| total == 0? 0: (dev[k].to_f / total.to_f) * 100.0}
            .progress{style: 'margin-bottom:0'}
              - keys.each_with_index do |key,index|
                - val = dev[key]
                .bar{style:"width: #{perc[index]}%", title: "#{names[index]}: #{val} (#{perc[index]}%)", class: "bar-#{classes[index]}"}
          %td
            .text-right
              =dev[:utility]